vscode/vscode theme code.txt
zNotUsed/
nvim/Archieved/
.vscode/
.globonote
.glzr/glazewm/errors.log
setup.log
test.ps1
DirectoryOpus/Collections/*.cct
DirectoryOpus/Collections/*.col
DirectoryOpus/Logs/
resources.txt
nvim/notes.md
*.bak
yasb/notes.json
yasb/yasb.log*
git/ForSensitive/
sensitive-patterns.json
backups/
vscode/copilot/

ZenBrowser/Profiles/main.Default/places.sqlite
ZenBrowser/Profiles/main.Default/extensions.json
ZenBrowser/Profiles/main.Default/extension-settings.json
ZenBrowser/Profiles/main.Default/extension-preferences.json

FlowLauncher/Settings/Plugins/
FlowLauncher/Settings/UserSelectedRecord.json
FlowLauncher/Settings/MultipleTopMostRecord.json
FlowLauncher/Settings/History.json

DirectoryOpus/userdata.omd
DirectoryOpus/FileTypes/
DirectoryOpus/Formats/
DirectoryOpus/Layouts/System/
DirectoryOpus/Program State/programdata.xml
DirectoryOpus/ConfigFiles/smartfav.osf
DirectoryOpus/ConfigFiles/proxy.oxc
DirectoryOpus/ConfigFiles/evalcols.oxc
DirectoryOpus/ConfigFiles/archives.oxc
DirectoryOpus/ConfigFiles/evalfilegroups.xml
.claude/.deepseek-token
