vscode/vscode theme code.txt
zNotUsed/
nvim/Archieved/
.vscode/
.globonote
.glzr/glazewm/errors.log
setup.log
test.ps1
DirectoryOpus/Collections/*.cct
DirectoryOpus/Collections/*.col
DirectoryOpus/Logs
resources.txt
nvim/notes.md
nvim/ForDebugging.txt
*.bak
yasb/notes.json
yasb/yasb.log
git/ForSensitive
sensitive-patterns.json