{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 110,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}

